* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.header {
  background: #222;
  color: #f4f4f4;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.main {
  min-height: calc(100vh - 117px);
  display: flex;
}

.sidebar {
  background-color: #6ce60e;
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
    margin: 10px;
    padding: 5px 25px;
    background-color: #0ddeed;
    width: 70%;
    text-align: center;
}

.content {
  background-color: #0ddeed;
  width: 68%;
}

.ads {
  background-color: #7d1f97;
  width: 15%;
}

.footer {
  background: #222;
  color: #f4f4f4;
  padding: 20px;
  display: flex;
  justify-content: center;
}
